
/* css */

body {
  background-color: #89D070;
}

.white {
  background-color: white;
}

.endzone {
  background-color: #7284A8;
  padding: 3px;
}

.intro {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  display: none;
}

.tick {
  background-color: white;
  position: absolute;
  width: 24px;
  height: 6px;
}

.yard_mark_left {
  color: white;
  transform: rotate(-270deg);
  position: absolute;
  letter-spacing: 5px;
  font-size: 40px;
}

.yard_mark_right {
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  letter-spacing: 5px;
  font-size: 40px;
}

.play_text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.yellow_line {
  position: absolute;
  border:none;
  border-bottom:5px solid yellow;
  height:6px;
  width:100%;
}

.yard_line {
  position: absolute;
  border:none;
  border-bottom:5px solid #000;
  height:6px;
  width:100%;
}

.big_script {
  font-size: 36px;
}
